* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #306754;
}

.editor {
    width: 100%;
    min-width: 100%;
    height: 90vh;
    min-height: 90vh;
}

form {
    width: 100%
}

form input {
    width: 95%;
    margin:0px 25px;
    text-align: center;
    padding: 5px;
    border: none;
    background-color: #306754;
    color: #FFFF00;
    transition: .5s;
}

form input[type='submit']:hover {
    cursor: pointer;
    background-color: #FFFF00;
    color: #306754;
}

::placeholder {
    color: #FFFF00;
}

.back {
    color: #FFFF00;
    text-decoration: none;
}

.back:hover {
    text-decoration: underline;
    color: #fff;
}