* {
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
}

h2 {
    width: 100%;
    text-align: center;
    background-color: #306754;
    color: #FFFF00;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

form {
    width: 100%;
    padding: 35px;
    border: 1px solid #FFA62F;
    height: 81vh;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

label {
    border: 1px solid #306754;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FFFF00;
}

input[type="text"],
input[type="password"] {
    width: 80%;
}

input[type="submit"] {
    width: 35%;
    text-align: center;
    padding: 5px;
    border: none;
    background-color: #306754;
    color: #FFFF00;
    transition: .5s;
}

form input[type='submit']:hover {
    cursor: pointer;
    background-color: #FFFF00;
    color: #306754;
}

::placeholder {
    color: #111;
}

ul {
    padding: 5px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li a {
    padding: 5px;
    background-color: #FFA62F;
    text-decoration: none;
    transition: .5s;
}

ul li a:hover {
    background-color: #306754;
    color: #FFFF00;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #306754;
    color: #FFFF00;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

footer .upIcon {
    margin: 0 5px;
    color: #fff;
    font-size: 20px;
    transition: .5s;
}

footer .upIcon:hover{
    color: #FFA62F;
}

#errors {
    border: 2px dashed rgba(209, 77, 25, 0.808);
}

#errors:hover {
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    form {
        width: 60%;
    }
}

.back {
    color: #FFFF00;
    text-decoration: none;
}

.back:hover {
    text-decoration: underline;
    color: #fff;
}